.recursos__container {
    padding: 20px 15px 20px 15px;
}

.recursos__container .recursos-opciones__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    place-content: center;
    place-items: center;
    gap: 20px;
}

.recursos__container .recursos-opciones__container a {
    width: 100%;
    max-width: 320px;
}

.recursos__container .recursos-title{
    margin: 20px 0;
    font-size: 2.5rem;
}

.recursos-opciones__container .opciones-item__container {
    height: 130px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.recursos-opciones__container .opciones-item__container:hover {
    transform: scale(1.1);
}

.recursos-opciones__container .blog-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/blog.jpg');
}

.recursos-opciones__container .productos-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rproducts.svg');
}

.recursos-opciones__container .acerca-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rabout.jpg');
}

.recursos-opciones__container .contacto-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rcontact.jpg');
}

.recursos-opciones__container .consejos-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rconsejos.jpg');
}

.recursos-opciones__container .dietas-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rdietas.jpg');
}

.recursos-opciones__container .jugos-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rjugos.jpg');
}

.recursos-opciones__container .meditacion-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rmeditacion.jpg');
}

.recursos-opciones__container .noticias-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rnoticias.jpg');
}

.recursos-opciones__container .perderpeso-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rperderpeso.jpg');
}

.recursos-opciones__container .recetas-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rrecipes.jpg');
}

.recursos-opciones__container .super-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rsuperfood.jpg');
}

.recursos-opciones__container .vitaminas-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rvitaminas.jpg');
}

.recursos-opciones__container .aprende-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/raprende.jpg');
}

.recursos-opciones__container .ayuno-item__container {
    background-image: linear-gradient(90deg, #283739, #00000057), url('../assets/imgs/rintermitente.jpg');
}

.opciones-item__container .item-content__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;

}

.opciones-item__container .item-content__container h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
}

.opciones-item__container .item-content__container h3 {
    color: #3bff12;
    font-size: 1.5rem;
    text-align: left;
}