.services-main-grid {
    margin-top: 50px;
  }
  
  .services-main-grid h2, .advise-info__section h2{
    margin: 0px auto;
    padding-top: 50px;
    text-align: center;
    font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--dark-green);
    font-size: 2.5rem;
  }
  
  .services-grid__container {
    max-width: 519px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows:minmax(120px, auto);
    row-gap: 15px;
  }
  
  .service-grid__item {
    color: var(--dark-green);
    font-size: 2rem;
    border: 1px solid var(--dark-green);
    border-radius: 10px;
    margin: 3px;
    padding-top: 5px;
  }
  
  .service-grid__item p {
    text-align: center;
    color: var(--dark-green);
    margin-top: 5px;
    line-height: 2rem;
  }
  
  .sg-item-1 span, .sg-item-2 span, .sg-item-3 span, .sg-item-4 span, .sg-item-5 span, .sg-item-6 span, .sg-item-7 span, .sg-item-8 span, .sg-item-9 span {
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .sg-item-1 span {
    background-image: url('./assets/icons/recipe.svg');
  }
  
  .sg-item-2 span {
    background-image: url('./assets/icons/green-juice.svg');
  }
  
  .sg-item-3 span {
    background-image: url('./assets/icons/loose-weight.svg');
  }
  .sg-item-4 span {
    background-image: url('./assets/icons/superfood.svg');
  }
  .sg-item-5 span {
    background-image: url('./assets/icons/diet.svg');
  }
  .sg-item-6 span {
    background-image: url('./assets/icons/advice.svg');
  }
  .sg-item-7 span {
    background-image: url('./assets/icons/bad-food.svg');
  }
  .sg-item-8 span {
    background-image: url('./assets/icons/vitamins.svg');
  }
  .sg-item-9 span {
    background-image: url('./assets/icons/meditation.svg');
  }
  
  .sg-item-1, .sg-item-3, .sg-item-6, .sg-item-8, .sg-item-9 {
    padding-top: 15px;
  }